[2017-12-09 12:50] iamazik opened #1 "Catch error?"
How would you catch the error when the user doesn't have a webcam?

[2017-12-09 14:06] VinceG commented on #1
notsupported=“onUserHasNoWebcam”

-----
Vincent Gabriel
Software Engineer

Please excuse my brevity, sent from my iPhone

[2017-12-09 18:25] iamazik commented on #1
@VinceG Can you please elaborate more or provide a complete example?

[2017-12-09 18:48] VinceG commented on #1
The component will emit an even if there is no webcam detected, all you have to do is listen on that event.

-----
Vincent Gabriel
Software Engineer

Please excuse my brevity, sent from my iPhone

[2017-12-09 21:03] #1 closed

[2018-06-04 19:53] bramski opened #2 "Broken on latest Safari"
<img width="1207" alt="screen shot 2018-06-04 at 12 53 13 pm" src="https://user-images.githubusercontent.com/421781/40938284-4bdf7706-67f6-11e8-880b-b6e2acbeaee0.png">

[2018-06-04 19:54] bramski commented on #2
Basically this is not using the newest way you're supposed to access getUserMedia on safari... See:
https://github.com/eduardolundgren/tracking.js/issues/228

I'll issue a PR shortly.

[2018-06-04 21:13] bramski commented on #2
Fixed by #3

[2018-06-04 21:26] VinceG commented on #2
Thank You.

[2018-06-04 21:26] #2 closed

[2018-06-05 16:19] Giorat opened #4 "Helping with vue-web-cam"
I have been working with your component in my project and I'd like to help you add some functions.

I have created a function to change camera so each time the user trigger the changeCamera( ) it's automatically changed the video stream, especially useful with mobile phones or tablets.

Here's the code, https://pastebin.com/rjULe7Ms

It's a little bit messy because I was trying to use the new brow

[2018-06-08 15:21] VinceG commented on #4
@Giorat That'll be great. Lets try and collaborate to make this work. I also see that there is a warning in chrome about the use of "createObjectURL"

[2018-06-08 18:18] Giorat commented on #4
I think createObjectURL is used only if the current browser doesn't support the new API.
Tonight I'll download your updated version and I'll try to add as many things as possible from my code and then I'll open a pull request! 😄

[2018-06-08 19:31] Giorat commented on #4
@VinceG just pushed the pull request I'll close this issue now, let's talk in the PullRequest.

[2018-06-08 19:31] #4 closed

[2018-06-15 12:44] Jaspur opened #6 "Error: Couldn't find preset "es2015" relative to directory"
[code]

[2018-06-15 15:45] VinceG commented on #6
@Jaspur

[code]

[2018-06-18 04:00] #6 closed

[2018-08-21 06:14] ernani opened #8 "Issues with latest VueJS"
Is this working on the latest VueJS version? I did a try and couldn't make it work. Could you please investigate it?

[2018-08-21 13:05] VinceG commented on #8
@ernani just an FYI it doesn’t require jQuery or Bootstrap. If you look at the dependencies and source code you’ll see that it does not. Maybe something else needed those dependencies.

[2018-09-11 13:22] Wolrab1 opened #9 "Image size"
I'm using this version of the vue-webcam and I've got everything working which is great.

I've found that if you apply a width and height of 400 or anything square the image captured becomes squashed to fit the dimensions?

Is there away to set the ratio of the camera?

[2018-09-11 20:40] VinceG commented on #9
@Wolrab1 hm looks like it is possible. See

https://developer.mozilla.org/en-US/docs/Web/API/Media_Streams_API/Constraints#Applying_constraints

However, I am not sure if we should add the ability to pass in constraints as an object or just add the aspect ratio variable in like we have for width and height. I think constraints will be a better long term solution since it’ll allow to pass in any nu

[2018-10-11 02:02] jonathankeebler commented on #9
@VinceG @Wolrab1 I think I have a solution in this PR https://github.com/VinceG/vue-web-cam/pull/11

[2018-10-11 03:10] #9 closed

[2018-10-16 02:43] iamarmanjon opened #12 "Stop camera doesn't turn off the camera"
The `stop()` method doesn't seem to turn off the camera. See this video https://drive.google.com/file/d/1ASBcPxJ1i1GrU0sCjNgrEloTi46TciCL/view?usp=sharing

[2018-10-16 20:08] VinceG commented on #12
@iamarmanjon Thank You. This should now be fixed in v1.2.5

[2018-10-16 20:08] #12 closed

[2018-10-18 04:39] iamarmanjon commented on #12
Trying this on my project and also on the demo. But it seems the closing of the tracks is inconsistent. I'm not sure actually if this is a problem with the HTML5 API. Because alternatively, I tried to close the tracks myself. Finding the `video` tag, getting the `srcObject` and closing the tracks myself. It works inconsistently too.

Here's a video again for demonstration:
https://drive.google.com

[2018-10-18 05:02] VinceG commented on #12
@iamarmanjon I had the same issue while testing, it seems the very first time when the page loads and you try to stop it the webcam doesn't seem to stop. If you start and stop it again without refreshing it'll stop.

In both cases it stops the track and empties the video srcObject. I am not entirely sure what else needs to happen in order to properly stop it. The API i used in the component is a c

[2018-10-18 05:11] iamarmanjon commented on #12
Thanks for putting some time into it. I will do some research on my end too. Will update you.

[2018-10-29 12:18] vlahde opened #13 "vue-web-cam stopped working"
Hello, I installed vue-webcam and had no problem making it work in my project. But now, a few months later, it is not working anymore. The webcam picture does not come up and when I try to capture picture, it is just a black box. The browser enables the camera but nothing happens. No error message comes up. Tested on Chrome, Firefox and Edge. I don't know when it stopped working or is this related

[2018-10-29 17:36] VinceG commented on #13
@vlahde i am not sure what vue version 6.4.1 is. Can you try with an older version of this package to see if maybe one of the PRs caused this?

[2018-10-29 19:02] VinceG commented on #13
@vlahde I think i know what happened, in the older version we used the first webcam available, since then we changed it to allow to select any camera the user has. In order to do that we no longer just set the first camera but rather emit events with available cameras and you'll need to set the first one.

See the demo for examples. I just confirmed this and this is probably the issue you are faci

[2018-10-31 11:25] kieranbarlow opened #14 "Electron & latest macOS Mojave"
Hi, this is no doubt nothing to do with your plugin as I've tested in the browser and everything works ok.

I have this plugin in my electron application which previously worked fine however after updating my macbook to the latest macOS Mojave it seems the application quits unexpectedly when getting to the component that uses the the vue-web-cam component. I've omitted this component and the page

[2018-10-31 12:54] vlahde commented on #13
Hi. It turns out that my system was build on older version of vue-web-cam. After checking out demo I got this working again. Thank you so much for your help!

[2018-10-31 15:01] VinceG commented on #13
@vlahde no problem.

[2018-10-31 15:01] #13 closed

[2018-10-31 15:35] VinceG commented on #14
@Wolrab1 I use Mojave, however i never used Electron so i am not sure if that's the cause for the issue. Not sure if i can even troubleshot this since i don't use Electron. Is there an error log for this when it crashes ?

[2018-11-02 22:33] Cess18 commented on #12
Any solution for that?

[2018-11-08 09:12] iparrabb opened #15 "Back Camera undefined"
Hi,

Thanks for this awesome plugin :)

Front Camera works fine, but I'm having an issue when select the back camera from a device with the example code. Returns undefined most of the time, although it sometimes shows the correct camera, any idea?

I'm testing with Android 6 and 8.1 and Chrome 69.0.3497.100 with the latest version of plugin ^1.3.0

PD: On Android 6 facing back camera never works,

[2018-11-08 10:06] iparrabb opened #16 "getUserMedia results in black screen on iOS 11.4 || >"
On iOS 11.4.1 the webcam request permissions but then show a black screen without image, any idea?

Mozilla/5.0 (iPhone; CPU iPhone OS 11_4_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/11.0 Mobile/15A356 Safari/604.1

[2018-11-12 03:23] #14 closed, assigned to nobody

[2018-11-19 08:43] iparrabb commented on #15
@VinceG, any help please?

[2018-11-19 15:31] glaucia86 opened #17 "Changes in the Demo Application"
Hi @VinceG.
I've been trying to make some good changes in the demo application. But no success once I don't have access rights. So I would like to ask you a permission to make these changes in the demo project.
If you want to, I can create a demo application on my handle GH account and then send you the project for you see it. What do you think about it?

Kind regards,

Glaucia Lemos

[2018-11-19 15:41] VinceG commented on #15
And what exactly is the error message?

-----
Vincent Gabriel
Software Engineer

Please excuse my brevity, sent from my iPhone

[2018-11-19 15:45] VinceG commented on #17
Hey,

Yeah sure. Not entirely sure though what the changes are for?

-----
Vincent Gabriel
Software Engineer

Please excuse my brevity, sent from my iPhone

[2018-11-19 16:02] glaucia86 commented on #17
@VinceG It would change the architecture in how the demo was developed. If you wish tonight I can develop a demo version, with separate files, routes and everything. Then I send the demo link as it was and in case you like how the demo was, I'll send you the project link. if you like and are approved, you can include in the official master project.

[2018-11-19 16:18] VinceG commented on #17
@glaucia86 That works, yeah thank you.

[2018-11-19 17:46] glaucia86 commented on #17
@VinceG nice. As soon as posible I will send you the demo aplication for you. Thanks Vincent! :)

[2018-11-20 15:12] sbaudino opened #18 "autoplay prop does not work"
I have set the autoplay prop and nothing happened. I have took a look in the code and that prop is just declared but not using it in the code.

I need that the camera does not start as default so that i can start it when something happen in my app.

Thanks!

[2018-11-20 15:18] sbaudino commented on #12
I have the same issue. Any research?

[2018-11-21 10:51] iparrabb commented on #15
You can see in my first message, camera is undefined...

[2018-11-21 15:20] VinceG commented on #15
In order to be able to assist I’ll need an exact error message preferably with a stack trace or a repository with minimal setup to reproduce this

-----
Vincent Gabriel
Software Engineer

Please excuse my brevity, sent from my iPhone

[2018-11-21 15:33] iparrabb commented on #15
@VinceG, I attached a full example above with the code that I'm using, this error happens on Android 6 and Android 8 sometimes, is not enough?

[code]

[2018-11-21 18:31] VinceG commented on #15
@iparrabb Sorry, i can't run the example. I don't use Quasar and i don't have an android device or emulator to test this on.

If the demo works for you (as it does for me) there isn't much i can do to try and troubleshoot this with you since i don't have anything to test this on. Also the error you mentioned that appears is ambiguous, undefined can mean a lot of things, what exactly is undefined,

[2018-11-21 18:34] VinceG commented on #18
@sbaudino Autoplay is used on the video element.

https://github.com/VinceG/vue-web-cam/blob/master/src/webcam.vue#L6

that's how it actually works by default, you need to listen to events such as onCameras and then set a data property to the device id and pass it to the webcam component. You can also run start and stop as in the example provided in the repository to start and stop the camera resp

[2018-11-21 18:35] VinceG commented on #16
@iparrabb Going to close this since OP didn't respond in 10 days.

[2018-11-21 18:35] #16 closed

[2018-11-21 18:35] #17 closed

[2018-11-21 19:21] iparrabb commented on #15
Hi @VinceG, the demo doesn't works on Android, it only works sometimes, the code that I am using is the demo code, you can see my example, only changes the dropdown, the rest is all the same.

Webcam fires the error event and this event fires the onError method on my component, and it receives two arguments, error and stream, error is undefined sometimes.

[code]

[code]

Thanks.

[2018-11-21 19:35] iparrabb commented on #15
@VinceG, thanks for your help.

You can see the [demo example](https://github.com/VinceG/vue-web-cam/blob/master/demo/src/main.vue):
[code]
I'm using the last version:
[code]
Is very hard catch this error because only happens when runs on Android device. Tomorrow I will try to debug more about this.

[2018-11-21 19:37] VinceG commented on #15
@iparrabb Sorry about that, the demo is wrong then, there is no stream argument. I'll fix that.

[2018-11-22 08:19] sbaudino commented on #18
What I need to do is that the webcam does not start when the page loads. I need to start it when I change a select but i cant figure out how to do this. I tried to watch a vuex ready prop and when that prop is true I stop the camera but that didn't work. So, I need the camera is stop at the beggining. How can I do this?

Thanks!

[2018-11-25 23:48] cbullokles opened #19 "Cannot use web-cam component inside a q-modal component."

[2018-11-25 23:56] VinceG commented on #19
@cbullokles I don't know what a q-modal is.

[2018-11-25 23:58] cbullokles commented on #19
It is a Quasar Modal Component:
https://quasar-framework.org/components/modal.html

[2018-11-27 00:14] VinceG commented on #18
@sbaudino the camera is stopped by default. as soon as you pass in the device id it starts. You can pass in the device id when you are ready to start it. Once it started for the first time you can either call stop or null the device id passed to stop it.

[2018-11-27 00:15] VinceG commented on #19
@cbullokles Not sure what i can do here since i don't really use Quasar framework, unless you can provide a simple repository where you can reproduce the issue.

[2018-11-27 15:05] VinceG commented on #18
Can you share your code

-----
Vincent Gabriel
Software Engineer

Please excuse my brevity, sent from my iPhone

[2018-11-27 15:56] GeNiuS69 commented on #15
@iparrabb Did you solve your problem?
I had something similar. Try use this fork https://github.com/dsmlru/vue-web-cam
If it'll help you I'll create PR.

[2018-11-27 16:32] iparrabb commented on #15
Thanks a lot @GeNiuS69, I test it tomorrow!

[2018-12-07 10:44] sbaudino commented on #18
This is my original code.

<template>
  <div class="row" v-show="ready">
    <div class="col-md-12 col-lg-3">
      <div class="card">
        <h4 class="card-header">DOCUMENTOS</h4>
        <div class="card-body">
          <div class="comp-background">
            <div class="form-group">
              <span v-if="!accountOpen">Debes tener la cuenta abierta para poder subir documentos</span>

[2018-12-07 19:11] sbaudino commented on #18
I tried doing it but when the condition of v-if is true I had an error of start method of the webcam component.

[2018-12-07 19:14] VinceG commented on #18
@sbaudino Right because the component is not rendered, wrap that start with the cameraStart or camSelected prop.

[2018-12-07 19:14] VinceG commented on #18
@sbaudino My point is, this isn't really an issue with the plugin. It's a usage issue.

[2018-12-07 19:15] sbaudino commented on #18
Right because the component is not rendered, wrap that start with the cameraStart or camSelected prop

How can I do this? i didnt understand you sorry.

[2018-12-07 19:16] sbaudino commented on #18
according to my code

[2018-12-08 09:02] GeNiuS69 commented on #15
@iparrabb hey, did you test?

[2019-01-04 10:52] DespertaWeb commented on #19
@cbullokles In first hand I suggest you to provide always some code.

It's working for me (taking picture next to do):
https://pastebin.com/eDSRpvun

[2019-01-04 10:54] DespertaWeb opened #20 "Set Back Camera by Default"
Is there a way to set Back Cam by default?
Also is there a way to set the camera to fullscreen height? It doesn't work for me :(

[2019-01-16 10:37] artpoddybnyy opened #23 "error in new version 1.4.0 Reason: TypeError: Cannot assign to read only property 'exports' of object '#<Object>'"

[2019-01-16 15:48] VinceG commented on #23
@artpoddybnyy it's fixed in 1.4.2

[2019-01-16 15:48] #23 closed

[2019-01-16 15:48] VinceG commented on #20
@DespertaWeb i don't think it's something that will be set by default. we can though pass in constraints to the object.

[2019-01-16 15:48] #20 closed

[2019-01-16 15:49] #19 closed

[2019-01-16 15:49] #18 closed

[2019-01-16 15:49] #15 closed

[2019-01-21 11:54] mzzr opened #24 "Bug report, demo not work."
The import code only works as follows:

[code]

[2019-01-23 19:36] msurguy opened #25 "Dealing with component mount / destroy"
Hello!

I was wondering if you have any tips on how this component can be used in apps where it needs to be mounted / destroyed. What kind of methods would need to be implemented?

Thanks !

[2019-02-07 21:25] VinceG commented on #25
@msurguy probably just start and stop methods.

[2019-02-07 21:26] VinceG commented on #24
@mzzr

[code]

[2019-02-07 21:26] #24 closed

[2019-02-23 13:36] guinaldi commented on #12
Any solution on this? Tried to stop the tracks manually too but no success... I notice some strange behavior on opening chrome DevTools. Sometimes turns off the webcam after i call the stop function on tracks.

[2019-02-23 14:46] VinceG commented on #12
@guinaldi Can you try calling the stop twice ?

[2019-03-14 12:23] pradsdev opened #27 "Can't able to register the component with Vue Instance"
## Reproduction link

[![Edit Vue Template](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/64rykwwnrk?fontsize=14)

### Expected
should console log the list of cameras available with the device

### Actual

Error: [Vue warn]: Unknown custom element: <WebCam> - did you register the component correctly? For recursive components, make sure to provide the "name" opti

[2019-03-14 12:26] pradsdev commented on #27
A small workaround would be downgrading the version to 1.3.0. In this version `vue-web-cam` works as expected

[2019-03-21 07:59] PrimozRome opened #28 "Resolution of snapshot"
Is there a way to control output resolution of the snapshot image?

My snapshots are now 640x480px, even though my webcam supports resolution up to 2560px...

[2019-03-21 15:05] VinceG commented on #28
@PrimozRome I think it's based on the size of the canvas. Did you try making the canvas bigger?

[2019-03-21 15:05] #25 closed

[2019-03-21 15:10] PrimozRome commented on #28
Well don't think so, because my canvas is smaller then 640x480 which is the resolution of image I get....

And I would not like to make canvas of the video object bigger as I have it now...

It would be cool if output resolution was somehow set up as props?

[2019-03-21 15:13] VinceG commented on #28
@PrimozRome How do you even set the output resolution? We capture the image using:

this.getCanvas().toDataURL(this.screenshotFormat);

and looking at the API on mozilla i don't see any way to configure it.
https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/toDataURL

Any idea how this is done?

[2019-03-28 08:51] PrimozRome commented on #28
@VinceG I am using components actions to capture the image. I have a button and I call this on click event

[code]

this is how I feed the component

[code]

In your component you are setting the canvas size like this. Isn't it possible to have canvas width and height like parameters, instead of the size of video element?

[code]

[2019-03-28 09:06] PrimozRome commented on #28
@VinceG what about this https://webrtc.github.io/samples/src/content/getusermedia/resolution/

[2019-03-28 13:29] medvesekg commented on #28
The webcam resolution can be passed as a constraint with the [getUserMedia](https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia) call. I have submitted a pull request #29

[2019-03-28 14:40] VinceG commented on #28
@PrimozRome @medvesekg Thank you. I've tagged and released it as v1.4.4.

[2019-03-28 14:40] #28 closed

[2019-03-31 12:14] rizkiheryandi commented on #27
i have same issue with you @pradsdev

and i try to downgrade the version to 1.3.0 on your sandbox https://codesandbox.io/s/64rykwwnrk?fontsize=14

yeah, the error is gone

but, there's no camera appear in the screen

[2019-04-01 14:37] VinceG commented on #27
@rizkiheryandi Can you assist in trying to troubleshoot this, it seems that the demo does work when imported the way it does. Maybe there is some other dependencies that are missing or out of date?

[2019-04-06 10:08] jefrydco commented on #27
@VinceG According the demo I can import the component using this way
[code]

But it will rise an error like this:
[code]

So I try to change that way into this way:
[code]

By using the second way, I should use `<VueWebCam />` instead of `<WebCam />`. And the error will be gone.

---
@pradsdev @rizkiheryandi Checkout this reproduction
https://codesandbox.io/s/6n5wqy87n

as I explain above, I chang

[2019-04-10 19:01] VinceG commented on #27
@pradsdev @jefrydco

For some reason if the OP code sandbox the following doesn't work

[code]

But this does:

[code]

https://codesandbox.io/s/oxry6qy3q

In any case i just released 1.5.0 to get some of those imports fixed and i updated the usage
https://github.com/VinceG/vue-web-cam#usage

those methods were tested and they work, including in the demo.

Going to close this since you do have the

[2019-04-10 19:01] #27 closed

[2019-05-13 07:02] lasamarndi opened #31 "how to height customize"

[2019-05-13 15:01] VinceG commented on #31
@lasamarndi

https://github.com/VinceG/vue-web-cam/blob/master/demo/src/main.vue#L8

just use :height="400px" etc..

[2019-05-13 15:01] #31 closed

[2019-05-24 14:07] EduardShaid opened #32 "stream from the network"
Will there be a stream from the network (not local webcam, but from the stream server) in the near future ?

[2019-05-24 14:09] VinceG commented on #32
@EduardShaid how do you even do that? Is there documentation for that?

[2019-05-24 15:20] valr13 opened #33 "Not able to make the component works on Chrome"
Hello,

I've an issue to make the webcam component works on Chrome Android.
It seems no cameras are detected, on Firefox it works great.

Otherwise, I used the example of the demo:
https://github.com/VinceG/vue-web-cam/blob/master/demo/src/main.vue

[2019-05-24 15:48] VinceG commented on #33
@valr13 can you help troubleshoot this? how will i be able to test this and see what's wrong? Does it output anything to the console?

[2019-05-25 12:45] EduardShaid commented on #32
Here is an example to practice.
https://www.youtube.com/watch?v=EbGPN95Vdgo

Here VLC works as a streaming server. You can take to enter not only the camera, but also ready-made files.

[2019-05-26 07:43] IgorHalfeld commented on #33
Same error here

_this is remote debugging_
![image](https://user-images.githubusercontent.com/9022134/58378817-c59d5d00-7f70-11e9-89e6-3daaeff69a3c.png)

[2019-05-26 09:57] valr13 commented on #33
After some searches, I found the way to resolve the issue.

https://developers.google.com/web/updates/2015/10/chrome-47-webrtc?hl=en

So for Vuejs, I just needed to allow HTTPS instead of HTTP. It is possible to do that by creating or updating the `vue.config.js` in the root folder of the project.

` module.exports = {
  devServer: {
    https: true
  }
}`

[2019-05-26 14:51] #33 closed

[2019-05-26 23:30] IgorHalfeld commented on #33
Thanks @valr13

[2019-06-06 05:56] VinceG commented on #32
@EduardShaid I don't think i'll be able to support this here. you can submit a PR if you can work on implementing this.

[2019-06-06 05:56] #32 closed

[2019-06-20 06:24] travbus opened #34 "I get a error when trying to run the project"
I cloned the project
npm install
npm run dev

ERROR in ./demo/src/main.vue?vue&type=script&lang=js& (./node_modules/babel-loader/lib!./node_modules/vue-loader/lib??vue-loader-options!./demo/src/main.vue?vue&type=script&lang=js&)
Module not found: Error: Can't resolve 'vue-web-cam' in '/Users/travisklein/Dropbox/vueApps/vue-web-cam/demo/src'
 @ ./demo/src/main.vue?vue&type=script&lang=js& (./node_m

[2019-06-29 08:10] ghostvar commented on #12
may you can try this one, its works as expected.
i am make own camera component based this in my project.

https://webrtc.github.io/samples/src/content/devices/input-output/

[2019-07-30 16:55] #34 closed

[2019-08-06 13:52] kossa opened #35 "Camera not showing"
Hello,

I'm using Vuejs v2.6.10 and vue-web-cam v1.5.1, I cannot see anything :

Here is the code of my component :
![image](https://user-images.githubusercontent.com/1175584/62545439-9b61f880-b859-11e9-9439-f1a07801fa96.png)

I'm using chrome with SSL certificate (To allow the camera) but nothing :

![image](https://user-images.githubusercontent.com/1175584/62545503-bdf41180-b859-11e9-9177-35e039

[2019-08-06 13:56] kossa commented on #35
Please forget this I copy/paste the demo and works fine, I think I forget some props

[2019-08-06 13:56] #35 closed

[2019-08-08 10:04] kevin8656 opened #36 "On Error Event Error: getUserMedia is not implemented in this browser"
![error](https://i.imgur.com/fVnC1hf.jpg)
I got some issue when i connect to my webcam
my webcam is use for the dentist to capture the teeth ,
but i dont know whan model is that camera
want to ask that how can i fix this issue?
thanks.

[2019-08-08 15:22] VinceG commented on #36
@kevin8656 As the error states, looks like for some reason the getUserMedia is not implemented, even though it looks like you are using Chrome.

[2019-08-08 16:48] kevin8656 commented on #36
@VinceG Yes I'm using Chrome to do this,but it's not working .
Do you have any suggestion that how to make it work?
I use the pluggin named [webcamjs](https://github.com/jhuckaby/webcamjs)  can successfully use my cam for dentist to capture photo in html page.
But i don't know what's the different between this plugin and that for html.neet your suggestion.
thanks a lot .

[2019-08-08 18:12] VinceG commented on #36
@kevin8656 Yeah, i am really not sure. can you test with any other web cam?

[2019-08-20 11:00] lilyrae commented on #36
@kevin8656 do you have HTTPS? I was also encountering this problem while on HTTP as Chrome doesn't allow `getUserMedia` when not from a secure context. (localhost should also be fine)

[2019-08-20 14:36] kevin8656 commented on #36
@lilyrae Yes,you're right. This problem is cause by HTTP is not Secure,so google chrome don't allow WebCam an Microphone to use.
I  host an server in local env, and use webcam locally.After i capture a photo , server will save the photo to the remote production server database.

[2019-08-20 14:44] VinceG commented on #36
@kevin8656 Were you able to fix the issue?

[2019-08-20 15:17] kevin8656 commented on #36
@VinceG This issue could not be fix,the only way is to host the project with this plugin using https not http.

[2019-08-20 15:17] #36 closed

[2019-09-12 16:28] sebastianro92 opened #39 "Error: "getUserMedia is not implemented in this browser""
Hi, good morning, I am getting the following error when running the component in the browser (chrome and firefox)

On Error Event Error: getUserMedia is not implemented in this browser
    at Object.getUserMedia (app.js:50773)
    at VueComponent.testMediaAccess (app.js:50773)
    at VueComponent.setupMedia (app.js:50773)
    at VueComponent.mounted (app.js:50773)
    at invokeWithErrorHandling (a

[2019-09-13 12:59] sebastianro92 commented on #39
@VinceG When i run navigator.getUserMedia in the console, this return "undefined"

[2019-09-13 13:03] sebastianro92 commented on #39
@VinceG I would like to clarify that this is happening when the component is running on my digitalocean server, when the component is running locally there are no problems.

[2019-09-13 15:44] VinceG commented on #39
@sebastianro92 I don't know what that means, in both cases you are running it through a browser, right? If that returns undefined then the browser does not support it.

[2019-09-13 15:55] sebastianro92 commented on #39
@VinceG  The component runs correctly in the browsers I use, however it stops working when the component runs from my server in digitalocean

[2019-09-13 16:00] VinceG commented on #39
@sebastianro92 How do you run it on your server? it won't work on the server since there is no access to the client media components. just like you won't be able to use 'fs' in the browser.

[2019-09-13 16:07] sebastianro92 commented on #39
@VinceG  I have a project developed in laravel (php) and I am using the vue components, the component on my local server (xampp) works correctly in any browser.

But when I execute my project from my server (DigitalOcean - Lamp) it generates the error described, at first it was not executed because I still do not have the SSL certificates on my digitalocean server, however, previously I could exec

[2019-09-13 16:12] VinceG commented on #39
Yeah, i mean if you run "navigator.getUserMedia" and it returns undefined that's the problem.

[2019-09-13 16:13] VinceG commented on #39
@sebastianro92 Can you try running

[code]

[2019-09-13 16:25] sebastianro92 commented on #39
@VinceG  When run navigator.mediaDevices.getUserMedia(); return this:

navigator.mediaDevices.getUserMedia();
Promise { "rejected" }
​
<state>: "rejected"
​
<reason>: Error: "getUserMedia is not implemented in this browser"
    legacyGetUserMediaSupport http://104.248.51.86/js/app.js:50773
    <anonymous> debugger eval code:1
​
<prototype>: PromiseProto

Browsers versions:

Firefox ver 69.0
Chrome

[2019-09-15 22:11] VinceG commented on #39
@sebastianro92 And you are sure you are running that in the browser with SSL?

[2019-09-25 05:19] #39 closed

[2019-10-01 16:43] mdhelaluddin-ctg-bd opened #45 "Not working in live site"
When running in my local host it's working perfectly. But in the live server, it's not working. Showing the below error in the browser console log

[code]

[2019-10-01 20:09] VinceG commented on #45
@mdhelaluddin-ctg-bd It seems this is a similar issue that's been asked many times before, if you use Chrome, it requires the page to be served over SSL. It won't work otherwise. If you do have SSL enabled and this still happens you can try the troubleshooting steps that were described here:

https://github.com/VinceG/vue-web-cam/issues/39

[2019-10-09 02:34] #45 closed

[2019-12-25 17:19] marko-mlinarevic opened #46 "it shows empty block."
[code]

I'm using nuxt. it generates
[code]
And its blank

when I try capture it gives me this as a string

[code]

[2019-12-26 07:54] VinceG commented on #46
@marko-mlinarevic You need to pass in :device-id prop, it's required. if you look at the JS console you'll see the warning.

[2019-12-26 19:26] #46 closed

[2020-01-10 08:34] helpcodemonkey opened #47 "Getting 'getUserMedia is not implemented in this browser'"
Hi,

I'm receiving `getUserMedia is not implemented in this browser` from the error event when run on iOS chrome and firefox, but not on iOS safari, Android chrome and firefox.

I noticed that in `/src/webcam.vue`, line 114, you checked `if (navigator.mediaDevices.getUserMedia === undefined)`. Is this correct because `navigator.mediaDevices.getUserMedia` is a function that requires a constraint pa

[2020-01-10 15:29] VinceG commented on #47
See #39

[2020-01-10 15:58] helpcodemonkey commented on #47
Hi, I have read issue #39. It’s running on a valid ssl cert and it’s working on Android mobile browser for both chrome and Firefox but not iOS chrome and Firefox.

[2020-01-10 16:02] VinceG commented on #47
To confirm so i can test locally, this doesn't work on an iOS device on either Chrome or Firefox?

Any specific versions you are using so we can narrow this down?

[2020-01-10 16:12] helpcodemonkey commented on #47
Yes doesn’t work on iOS for both chrome and Firefox. The versions are
79.0.3945.73 and 21.0(16918) for chrome and Firefox respectively.

On Sat, 11 Jan 2020 at 12:02 AM, Vincent Gabriel <notifications@github.com>
wrote:

[2020-01-26 13:25] ddv1212 opened #48 "Webcam don't work in production environment"
Hey,

I copy and paste the demo code and in my development everything works fine. Sometimes the available webcam are not listed but after refreshing the page the problem is gone.

Now I deployed my app with nginx on a raspberry pi in my local network. The problem is that when I load the page with the webcam content that the video stream is not shown. In the area where the webcam should appear is r

[2020-01-30 11:08] mmouterde commented on #48
I think the example is not complete.
Try:
<template>
        <vue-web-cam @cameras="onCameras($event)" :deviceId="deviceId" />
</template>

<script>
import VueWebCam from "vue-web-cam";
export default {
  data: function() {
    return {
      deviceId: null
    };
  },
  components: {
    VueWebCam
  },
  methods: {
    onCameras: function(cameras) {
      if (cameras.length === 1) {
        this.

[2020-02-03 23:21] ddv1212 commented on #48
Hey, I tried your minimized code but the result is the same :( Not even the browser asks for webcam access. I can't figure out why :/

[2020-02-04 00:03] ddv1212 commented on #47
I have the same problem @VinceG. On dev server everything works fine in all browsers but when I deploy with nginx on my raspberry pi in my local network i get the same error "Error: getUserMedia is not implemented in this browser"

Console: navigator.getUserMedia
Output: undefined

Console: navigator.mediaDevices.getUserMedia
Output: function legacyGetUserMediaSupport()

Console: navigator.mediaDe

[2020-02-06 12:28] ddv1212 commented on #48
I solved my problem. The most (maybe all) brwosers dont allow to call getUserMedia without SSL.
I created an self signed certificate and deployed it and now it works. The Problem was not on the Webcam Source!

Thank you anyway @mmouterde

[2020-02-06 12:28] #48 closed

[2020-02-06 12:34] ddv1212 commented on #47
Solved the problem: getUserMedia is only callable if you running your application on localhost (the browser defines this as secure) OR use SSL at deployment. @VinceG Your code works well! Anyway, SOMETIMES the webcams cannot be listed. I tested Chrome, Firefox and Safari in the latest stable versions. ps: i used exactly your code.

Thank you!

[2020-02-06 17:27] #47 closed

[2020-02-19 06:03] helpcodemonkey commented on #47
Hi ddv1212,

just to verify that it works for you on an iphone browser?

Best,
Chris

On Thu, Feb 6, 2020 at 8:34 PM ddv1212 <notifications@github.com> wrote:

[2020-02-19 13:57] ddv1212 commented on #47
@helpcodemonkey I don't try it on an iPhone but Safari on latest OSX works well. I will try it from an iPhone the next days.

Regards

[2020-02-19 14:14] helpcodemonkey commented on #47
Yea it works ok on osx for me too. Hope to hear from you soon.

Best,
Chris

On Wed, 19 Feb 2020 at 9:57 PM, ddv1212 <notifications@github.com> wrote:

[2020-02-19 16:38] ddv1212 commented on #47
@helpcodemonkey tested it on latest firmware of the iPhone 5s and it works pretty fine!

[2020-02-19 22:43] helpcodemonkey commented on #47
Do you have a demo site that I can test on?

Best,
Chris

On Thu, 20 Feb 2020 at 12:38 AM, ddv1212 <notifications@github.com> wrote:

[2020-02-20 10:57] kieranbarlow opened #49 "Zoom?"
Is there the ability or do you know how I could look at zooming in by a fraction? The height and width defined don't seem to change the ration only the bounding box.

[2020-02-20 10:59] kieranbarlow commented on #49
![image](https://user-images.githubusercontent.com/16260384/74927732-1642c900-53d0-11ea-9a58-93e885c2351a.png)

[2020-02-20 19:49] Seeman13 opened #50 "How to capture a microphone?"
Hello! Is there such an opportunity? How to do it?

[2020-02-21 05:50] VinceG commented on #50
@Seeman13 Audio is not supported, you can submit a PR to implement this.

[2020-02-21 05:51] VinceG commented on #49
@kieranbarlow I am not sure if i understand the question. You'd like the ability to zoom in and out in the video?

[2020-03-29 09:04] skuzzymiglet opened #52 "base64 is invalid"
Running `atob` on `capture` returns an error `DOMException: Failed to execute 'atob' on 'Window': The string to be decoded is not correctly encoded.`

[2020-03-29 13:40] skuzzymiglet commented on #52
Sorry, I was taking everything incl the content type

[2020-03-29 13:40] #52 closed

[2020-03-29 21:08] CavalcanteLeo commented on #20
Is it possible to open/set the back camera by default?

[2020-03-31 01:59] miketeix commented on #52
@skuzzymiglet i just had this issue today, but couldn't remedie the situation.
How much of ```data:image/jpeg;base64,/9j/4AAQSk...``` did you slice?

I tried removing `data:`, `image/jpeg;` and `base64,` with no luck.

[2020-03-31 04:03] miketeix commented on #52
I realized that the returned value is actually a dataUri that happens to be base64 encoded. Once I knew that, I was able to convert to Blob.

Perhaps the READ.ME could be updated to:

### Methods

| name         | param    | notes                                                                                                 |
| ------------ | -------- | -------------------------------------------

[2020-04-15 14:00] DespertaWeb commented on #20
Despite I still thing that should be a must, apparently I don't think so. :(

[2020-04-16 02:54] araimbekoff opened #54 "Distance between camera and subject"
Hi!

I am photographing a business card.
When I set the resolution to 1600x900, I have to move the phone 8-10 cm from the object than when setting the default resolution. And the higher the resolution, the farther from the object.

How to make the distance smaller with higher resolution?

[2020-06-14 01:49] d-knafo opened #56 "Mi browser"
It's not worked with mi browser, and I not received any error from error event
Thanks for this package!

[2020-07-15 10:06] mobh13 opened #57 "using vue-web-cam with videojs-record"
is this possible ?

[2020-08-07 14:17] larbijirari opened #60 "On Error Event DOMException: Could not start video source"
Hello everybody,

i'm facing a problem, i think it's due to version of chrome :

i have two versions of chrome on my laptop

Version 84.0.4147.105 (Build officiel) (64 bits) => WORKING
Version 86.0.4221.3 (Build officiel) dev (64 bits) => NOT WORKING

Error:
On Error Event DOMException: Could not start video source

[2020-08-12 16:11] nickfan opened #61 "feature request: manually call setupMedia and assign canvas Element by object refs"
1. is that possible to add a property something like 'autosetup' to control Whether call this.setupMedia() on mounted or not?

[code]

so that we can give user to show some guide ui before the browser pop up the permission request on page load.

2. i want to integration something like opencv or face detect api that required to setup a canvas element .

[code]

so is that possible to add a property

[2020-08-12 17:23] nickfan commented on #61
i created a PR for this, maybe it could be helpful.
https://github.com/VinceG/vue-web-cam/pull/62

[2020-08-15 18:51] gtalk-renato opened #63 "This works on mobile?"
Hi.
I tested the component on a Moto G4 phone with the Chrome browser and the result was: "getUserMedia is not implemented in this browser".

Is there any way to make it work?
I appreciate if you can help.

[2020-09-01 23:31] Chillakiller45 opened #64 "Typescript support?"
Hi!
Are there any plans for typescript support? I tried to use it with vue with ts and couldn't find the type declarations

[2020-09-29 00:35] pelillian commented on #63
+1

[2020-09-29 00:43] VinceG commented on #63
This does work on mobile since we used iPhones & iPads while writing this component.

[2020-10-19 18:36] alexandremsouza1 commented on #60
Complementing:

a similar problem happened to me

when executing the code on a mobile device

`if (navigator.mediaDevices.getUserMedia) {
            console.log('getUserMedia supported.');

            const constraints = {audio: true};
            let chunks = [];

            let onSuccess = function (stream) {

                if (!navigator.mediaDevices || !navigator.mediaDevices.enumerateDev

[2020-10-21 10:25] atomengine commented on #18
I've has the same issue as sbaudino. I think autoplay=false should stop it from autostarting until programatically doing it

[2020-10-30 19:56] abrichr commented on #20
Here is how to open the back camera by default (tested on iPhone only):

[code]

[2020-10-30 20:46] abrichr opened #66 "Add encoderOptions to toDataURL()"
The call to `canvas.toDataURL()` omits the second parameter for controlling the image quality:

https://github.com/VinceG/vue-web-cam/blob/42d9b6e3a830e19e1d83d50ca2d80487c056a88f/src/webcam.vue#L267

From https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/toDataURL

It would be useful to be able to specify a value of 1.0 for maximum image quality.

[2020-10-30 21:21] VinceG commented on #66
@abrichr As a prop pass it down or just hard code it to 1.0 ?

[code]

[2020-10-30 21:23] VinceG commented on #64
@Chillakiller45 Sure, you are more than welcome to submit a PR for it.

[2020-10-30 21:23] #63 closed

[2020-10-30 21:25] VinceG commented on #56
@d-knafo I've never used that browser before. if this is something you'd like to troubleshoot and submit a PR that'll be great.

[2020-10-30 21:25] #56 closed

[2020-10-30 21:25] VinceG commented on #54
@araimbekoff Is it something we can control with this component?

[2020-10-30 21:25] #50 closed

[2020-10-30 21:27] VinceG commented on #57
@mobh13 Not at this time.

[2020-10-30 21:27] #57 closed

[2020-10-30 21:28] abrichr commented on #66
As a prop would be ideal:

[code]

[2020-10-30 21:28] VinceG commented on #60
@larbijirari @alexandremsouza1 If console log `navigator.mediaDevices.enumerateDevices()` does it return anything at all?

[2020-10-30 21:29] VinceG commented on #66
@abrichr Going to try and add it, if you have the time and would like to submit a PR that'll be great.

[2020-10-30 21:50] abrichr opened #67 "<input capture="camera"> on mobile"
I am currently considering whether to use vue-web-cam or `<input type="file" accept="image/*" capture="camera">`. This is for a mobile camera application. What are the tradeoffs of both of these approaches?

I'll start:

### vue-web-cam:
#### Pros
- Works on desktop and mobile
- Customizable camera interface
#### Cons
- Requires https on mobile

### \<input capture="camera">:
#### Pros
- Built-in

[2020-10-30 21:51] abrichr commented on #66
@VinceG thank you for the quick reply! I may submit a PR if we end up using vue-web-cam, but I'm considering whether to use \<input capture="camera"> instead. I submitted another issue about it here: https://github.com/VinceG/vue-web-cam/issues/67

[2020-10-31 00:11] VinceG commented on #67
@abrichr Having this component handle this under the hood on mobile seems like it something that'll require some serious changes.

the API seems to be not compatible with anything else other than mobile devices
https://caniuse.com/html-media-capture

the only con. is that it requires https on mobile, with the tools we have today for the most part it's not an issue iMHO

[2020-10-31 01:14] abrichr commented on #67
Thanks for the quick reply!

Regarding implementation, an [adapter pattern](https://en.wikipedia.org/wiki/Adapter_pattern) might be helpful.

Regarding getting it working on https, this can be a somewhat non-trivial (e.g. see https://github.com/tiangolo/full-stack-fastapi-postgresql/issues/302#issuecomment-719057614).

There are additional cons as well. Here is the combined list:

- Requires https

[2020-10-31 01:24] VinceG commented on #67
I was referring to the only con that was listed that requires https. We have dev servers, self signed certs that can be used to accomplish that.

I’m open to suggestions and implementation of course, we will most likely need to add this to a major version because of the amount of changes.

-----
Vincent Gabriel
Software Engineer

Please excuse my brevity, sent from my iPhone

[2020-11-01 17:08] TheGreatRefrigerator commented on #67
Hi @VinceG,
i'm sorry this has nothing to do with the topic, but i'm just wondering if the collapsible 3 dots block in your previous comment were added automatically by github, when you answered by mail?
This is a feature many people would love to use in their comment.. currently there is only the `<details>...</details>` workaround...
see e.g. [here](https://gist.github.com/pierrejoubert73/902cc9

[2020-11-01 17:17] VinceG commented on #67
@TheGreatRefrigerator yeah it was added automatically

[2020-11-08 19:59] DespertaWeb commented on #20
@abrichr could you please test it on other android phones, it would be amazing!

[2021-01-04 12:06] hendriady commented on #60
Hi, i get the same error, but i not sure it due to the same problem. Previously I added the "resolution" parameter on component:
[code]
but this causes problems on some mobile phone. After remove "resolution" parameter than application goes normally

[2021-02-23 19:25] ABusyProgrammer opened #69 "Is Vue3 Supported?"
I'm trying to use this dependency with my Vue 3 project, but I keep getting the error `TypeError: Cannot read property '_c' of undefined`. Upon searching online, this error comes when a dependency that only supports Vue 2 is used in a Vue 3 project. Is this the case here too?

[2021-02-23 19:26] VinceG commented on #69
This does not work with vue 3

[2021-03-21 23:52] tsettle opened #71 "Possible to use camera as background canvas for the page?"
Thinking about creating an app that I would use for live streaming and would be interested to know if it's possible to show the video in a 16:9 aspect ratio and use the video as the background canvas for the app (consuming the entire browser window) with toolbars, widgets, and gizmos overlaying it.

[2021-03-22 00:31] VinceG commented on #71
@tsettle its possible, yes.

[2021-04-05 20:34] danaki commented on #69
:(

[2021-04-05 20:42] #69 closed, assigned to nobody

[2021-04-26 02:43] liudongqing opened #74 "The boxWidth and boxHeight don't work."
Here is my code,
[code]

And I got

[code]

[2021-04-26 02:47] VinceG commented on #74
@liudongqing the boxWidth and boxHeight don't work on vue-web-cam or vue-baberrage?

Vue web cam does not have box width and box height props.

[2021-04-26 03:08] liudongqing commented on #74
don't work on vue-baberrage, I can not set height correctly

[2021-04-26 03:10] liudongqing commented on #74
And I tried to create new style
[code]
and set the ` barrageStyle: 'big',`,  it doesn't work either ...

[2021-04-26 03:12] VinceG commented on #74
@liudongqing i think you are in the wrong place, this repository is for vue-web-cam not vue-baberrage.

[2021-04-26 03:14] liudongqing commented on #74
I am sorry..

[2021-04-26 03:14] #74 closed, assigned to nobody

[2021-05-04 15:03] MohammedKhalid96 opened #75 "Can I store the recorded video and send it to the server as a file or encoded video? #question"

[2021-05-04 16:28] VinceG commented on #75
@MohammedKhalid96 to get the image/video you'll just call `this.$refs.camera.capture()` then do what ever you need to do with it.

[2021-06-05 12:15] izzatullokanoatov opened #80 "Not supporting in in Internet explorer."
Plugin is not working properly in internet explorer browser.

[2021-06-05 12:50] VinceG commented on #80
@izzatullokanoatov what version of IE?

[2021-06-05 21:51] izzatullokanoatov commented on #80
Hi @VinceG .
![image](https://user-images.githubusercontent.com/36329795/120906329-77b29980-c60d-11eb-9c75-e67967c589ed.png)

[2021-06-06 13:15] VinceG commented on #80
@izzatullokanoatov any errors in console? What doesn't work ?

[2021-06-25 11:49] rohan220217 opened #81 "Live working demo using Github pages"
Please try to compile the working demo and add to the readme

[2021-06-25 13:16] VinceG commented on #81
@rohan220217 feel free to summit a pr

[2021-07-15 13:24] grumpykendal0622 opened #83 "Can this.$refs.camera.capture() capture the entire video instead of just a photo?"
If it's possible, could you provide an example please? Many thanks.

[2021-07-15 15:04] VinceG commented on #83
@grumpykendal0622 I think it can, maybe using https://developer.mozilla.org/en-US/docs/Web/API/HTMLMediaElement/captureStream

we can introduce a new method to capture a stream

[2022-01-21 21:09] ghost opened #90 "deviceId being mutated inside component"
```Avoid mutating a prop directly since the value will be overwritten whenever the parent component re-renders. Instead, use a data or computed property based on the prop's value. Prop being mutated: "deviceId"```

[2022-03-27 20:04] hellohasan commented on #81
I also faced an issue when I upload the live server to the webcam not but on the local server, it's working well. what I can do now?

[2022-07-14 12:57] scorpioRED opened #95 "How do not run by default?"
Hi!
How to run/start the camera manually when the component is rendered, now the camera launch automatically when component is loaded

[2022-08-05 07:53] devendra-kumar1 commented on #83
any update on this ?

[2022-08-05 15:25] VinceG commented on #83
@devendra-kumar1 i have no plans on adding it, feel free to submit a PR.

[2022-09-03 09:58] hendras1722 opened #96 "iphone version 10 and above"
Hi. I have problem with device iphone X.
Why is it that when I take a photo, the result is blur? like not focus. pls help me thx you

[2022-09-26 12:42] pouryasanboy opened #97 "open rear camera"
Would you please tell me how can I open the rear camera when I open the component? it's just first than you can control it to open the rear.. but I want at first just open the rear camera... is there any way?